<!-- fragments/navbar.html -->
<div th:fragment="navbar">
    <nav>
        <a href="/">Overlook Hotel</a>
        <ul>
            <li th:if="${#authorization.expression('hasRole(''MANAGER'')')}">
                <a class="nav-link" th:href="@{/clients}">Gestions Clients</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''MANAGER'')')}">
                <a class="nav-link" th:href="@{/employees}">Gestions Employés</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''EMPLOYEE'')')}">
                <a class="nav-link" th:href="@{/schedule}">Planning</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''CLIENT'')')}">
                <a class="nav-link" th:href="@{/room-reservation}">Réserver votre Séjour</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''CLIENT'')')}">
                <a class="nav-link" th:href="@{/event-reservation}">Réserver votre Événement</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''CLIENT'')')}">
                <a class="nav-link" th:href="@{/cart}">Vos Réservations</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''CLIENT'')')}">
                <a class="nav-link" th:href="@{/cart}">Ma sélection</a>
            </li>
        </ul>
        <div th:if="${!#authorization.expression('isAuthenticated()')}">
            <form th:action="@{/login}" method="post" style="display:inline;">
                <input type="text" name="username" placeholder="Email" required>
                <input type="password" name="password" placeholder="Mot de passe" required>
                <button type="submit" class="btn">Se connecter</button>
            </form>
            <form th:action="@{/register}" method="post" style="display:inline;">
                <button type="submit" class="btn">Créer un compte</button>
        </div>
        <ul>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <span>Bienvenue, <span th:text="${#authentication?.name}"></span></span>
            </li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <form th:action="@{/logout}" method="post" style="display:inline;">
                    <button type="submit" class="btn">Déconnexion</button>
                </form>
            </li>
        </ul>
    </nav>
</div>