* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style-position: inside;
    list-style: none;
}

:root {
    --main-bg-color: #EBE0E9;
    --purple: #A17899;
    --secondary-bg-color: #E6AADB;
    --main-dark-bg-color: #2A2532;
    --grey: #E0E0E0;
    --ultra-light-grey: #ECECEC;
    --light-grey: #E3E3E3;
    --dark-grey: #323232;
}

nav {
    background: var(--main-dark-bg-color);
    /*background: red;*/
    /*width: 100%;*/
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    line-height: 2rem;
    /*position: fixed;*/
}

nav ul {
    display: flex;
    gap: 20px;
    align-content: center;
}

/*nav ul li {*/
/*}*/

nav a {
    color: white;
}

nav ul {
    color: white;
}

body {
}

.page {
    width: 90%;
    max-width: 1400px;
    min-width: 500px;
    margin: auto;
    min-height: 100vh;
}

h1, h2 {
    text-transform: uppercase;
    padding: 10px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    border-bottom: 1px solid;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin: 20px 10px;
    display: inline-block;
}

.main-bg {
    background: var(--main-bg-color);
}

p10 {
    padding: 10px;
}


table td {
    padding: 3px 7px;
    line-height: 1.4rem;
    word-break: break-word;
}

table tbody tr:nth-child(odd) {
    /*background: #eee;*/
    background: var(--ultra-light-grey);
}

table tbody tr:nth-child(even) {
    /*background: #ddd;*/
}

table thead tr {
    /*background: var(--secondary-bg-color);*/
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 2rem;
}

table thead tr td {
    padding: 50px;
}

.btn {
    background: var(--secondary-bg-color);
    color: black;
    padding: 2px 8px;
    border-radius: 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

a.btn {
    text-decoration: none;
}

.bg-purple {
    background: var(--purple);
}

.my20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dark-grey {
    color: var(--dark-grey);
    }

a.btn:hover {
    background: none;
    border: 2px solid var(--secondary-bg-color);
    color: var(--secondary-bg-color);
}

.container {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.display-table {
    flex-basis: 1;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.filter-bar {
    width: 100% !important;
    display: flex;
    justify-content: stretch;
    /*justify-content: center;*/
    flex-flow: row wrap;
    margin-bottom: 20px;
}

.filter-input {
    flex: 1;
    min-width: 150px;
    /*border-right: 1px solid black;*/
    display: flex;
    line-height: 1.2rem;
    padding: 8px 8px;
    gap: 8px;
    align-items: center;
}

.filter-input i {
    padding: 4px;
    color: var(--dark-grey);
}

.filter-bar button {
    flex: 2;
    min-width: 150px;
    border: none;
}

.filter-input input, .filter-input select {
    width: 100%;
    padding: 4px 8px;
    background: none;
    border: none;
    color: var(--dark-grey);
    border-bottom: 1px solid var(--grey);
}

.filter-input input::placeholder {
    color: var(--dark-grey);
}

.display-focus {
    flex-basis: 1;
    background: var(--main-bg-color);
    width: 40%;
    /*background: red;*/
    border-radius: 20px;
    align-self: start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
    padding-top: 0px;
}

.display-focus form {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    gap: 20px;
}

/*.display-focus form input {
}*/


.display-focus input, .display-focus select {
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 1.4rem;
    border: none;
    background: white;
    color: var(--dark-grey);
    border-bottom: 1px solid var(--grey);
}

.display-focus input::placeholder {
    color: var(--dark-grey);
}

