* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style-position: inside;
    list-style: none;
}

:root {
    --main-bg-color: #EBE0E9;
    --purple: #A17899;
    --secondary-bg-color: #E6AADB;
    --main-dark-bg-color: #2A2532;
    --grey: #E0E0E0;
    --ultra-light-grey: #ECECEC;
    --purple: #A388CE;
    --light-grey: #E3E3E3;
    --dark-grey: #323232;
    --green: #C6E6AA;
}


body {
  display: grid;
  /* grid shorthand syntax:
     grid: <grid-template-rows> / <grid-template-columns>
     OR full form: grid: <grid-template-rows> / <grid-template-columns>; grid-template-areas can also be inline.
  */
  grid:
    "header" auto
    "page" 1fr
    "footer" auto
    / auto;

  min-height: 100vh;
  margin: 0;
}

header {
    grid-area: header;
    padding: 10px;
    line-height: 2rem;
    background: var(--main-dark-bg-color);
    vertical-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 20px;
    align-content: center;
}

nav ul li {
    align-self: center;
}

nav input {
    border-radius: 16px;
    padding: 4px 8px;
    background: rgba(255,255,255,0.4);
    color: rgba(255,255,255,0.8);
    border: none;
    font-size: 1rem;
}

nav input::placeholder {
    color: rgba(255,255,255,0.8);
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:first-child {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

nav ul {
    color: white;
}


footer {
    grid-area: footer;
    background: var(--main-dark-bg-color);
    padding: 10px;
    line-height: 0.8rem;
    align-self: flex-end;
    justify: flex-end;
}

footer a {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    }

.page {
    grid-area: page;
    /*width: 90%;
    max-width: 1400px;
    min-width: 500px;
    min-height: 80vh;
    margin: auto;*/
}

.content {
    width: 90%;
    max-width: 1400px;
    min-width: 500px;
    min-height: 80vh;
    margin: auto;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-item: flex-start;
}

.cart a {
    align-self: flex-start;
}

h1, h2 {
    text-transform: uppercase;
    padding: 10px;
    padding-bottom: 15px;
    font-size: 1.4rem;
    border-bottom: 1px solid;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin: 20px 10px;
    display: inline-block;
}

h3 {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    color: var(--dark-grey);
}

.main-bg {
    background: var(--main-bg-color);
}

.bg-grey {
    background: var(--grey);
}

p10 {
    padding: 10px;
}

m10 {
    margin: 10px;
}

.mt50 {
margin-top: 50px;
}

.lh12 {
    line-height: 1.2rem;
}

table td {
    padding: 3px 7px;
    line-height: 1.4rem;
    word-break: break-word;
}

table tbody tr:nth-child(odd) {
    /*background: #eee;*/
    background: var(--ultra-light-grey);
}

table tbody tr:nth-child(even) {
    /*background: #ddd;*/
}

table thead tr {
    /*background: var(--secondary-bg-color);*/
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 2rem;
}

table thead tr td {
    padding: 50px;
}

.btn, button.btn, a.btn {
    background: var(--secondary-bg-color);
    color: black;
    padding: 4px 8px;
    border-radius: 16px;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-size: 0.8rem;
    text-decoration: none;
}
.btn:hover, button.btn:hover, a.btn:hover {
    cursor: pointer;
    background: none;
    border: 2px solid var(--secondary-bg-color);
    color: var(--secondary-bg-color);
}

.btn-reverse, button.btn-reverse, a.btn-reverse {
    background: none;
    border: 2px solid var(--purple);
    color: var(--purple);
    padding: 8px 16px;
    border-radius: 16px;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-decoration: none;
}

.btn-reverse:hover, button.btn-reverse:hover, a.btn-reverse:hover {
    cursor: pointer;
    background: var(--purple);
    border: 2px solid transparent;
    color: var(--main-bg-color);
    }


.bg-purple {
    background: var(--purple);
}

.my20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dark-grey {
    color: var(--dark-grey);
    }


.container {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.display-table {
    flex-basis: 1;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.filter-bar {
    width: 100% !important;
    display: flex;
    justify-content: stretch;
    /*justify-content: center;*/
    flex-flow: row wrap;
    margin-bottom: 20px;
    gap: 16px;
}

.filter-input {
    flex: 1 1 auto;
   /* flex-grow: 1;       *//* can grow *//*
    flex-shrink: 1;     *//* can shrink if needed *//*
    flex-basis: auto;*/
    display: flex;
    justify-self: stretch;
    /*line-height: 1.2rem;*/
    padding: 8px 8px;
    gap: 8px;
    align-items: center;
}

.filter-input i {
    padding: 4px;
    color: var(--dark-grey);
}

.filter-bar button {
    flex: 2;
    min-width: 150px;
    border: none;
}

.filter-input input, .filter-input select {
    width: 100%;
    padding: 4px 8px;
    background: none;
    border: none;
    color: var(--dark-grey);
    border-bottom: 1px solid var(--grey);
}

.filter-input input::placeholder {
    color: var(--dark-grey);
}

.reservation-input {
    background: var(--grey);
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 12px;
}

.display-focus {
    flex-basis: 1;
    background: var(--main-bg-color);
    width: 40%;
    /*background: red;*/
    border-radius: 20px;
    align-self: start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
    padding-top: 0px;
}

.display-focus form {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    gap: 20px;
}

/*.display-focus form input {
}*/

.display-focus input, .display-focus select {
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 1.4rem;
    border: none;
    background: white;
    color: var(--dark-grey);
    border-bottom: 1px solid var(--grey);
}

.display-focus input::placeholder {
    color: var(--dark-grey);
}

.display-focus-room {
    flex-basis: 1;
    background: var(--main-bg-color);
    width: 40%;
    border-radius: 20px;
    align-self: start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    padding-top: 0px;
}

.focus-room-content {
padding: 20px;
padding-top: 0px;
}

/* IMG ROOM PAR DEFAUT */
.booking-content {
    display: flex;
    flex-flow: row wrap;
    gap: 48px;
    margin-top: 20px;
    margin-bottom: 50px;

}

.book-card {
    flex: 1 1 auto;
    min-width: 300px;
    background: var(--main-bg-color);
    border-radius: 16px;
    box-shadow: 0px 0px 4px var(--purple);
    transition: all 0.3s ease-in-out;
}

.book-card:hover {
    transform: scale(1.08);
}
.book-card:hover .booking-img {
    filter: none;
    filter: brightness(1.1) contrast(1) grayscale(0)
}

.card-description {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.card-description p {
    width: 100%;
}

.bonus-list {
    width: 100%;
    margin-bottom: 32px;
}

.bonus-list ul {
}

.bonus-list li {
    list-style: disc;
    font-size: 0.8rem;
    font-style: italic;
    color: var(--dark-grey)
}


 .card-description p:last-of-type {
    margin-bottom: 12px;
 }

 .card-description .btn {
    align-self: center;
 }

 .price {
     background: var(--green);
     border-radius: 8px;
     margin: 16px;
     padding: 6px 8px;
     box-shadow: 0px 0px 4px var(--green), 0px 0px 6px white;
     font-weight: 500;
     }

 .price::after {
    content: "€/Nuit";
 }

.booking-img {
    transition: all 0.3s ease-in-out;
    border-radius: 16px 16px 0px 0px;
    min-height: 200px;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: flex-end;
    align-items: flex-end;
    filter: brightness(0.9) contrast(1.2) grayscale(0.1);
}


/*IMG ROOM*/
.superieure {
    background: url("../img/superieure.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3);
}

.de_luxe {
 background: url("../img/de_luxe.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3);

}

.superbe_vue {
    background: url("../img/superbe_vue.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3);
}

.simple {
    background: url("../img/simple.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3);
}

/*DROPDOWN MENU*/
/* Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Button styling */
.dropdown-toggle {
    cursor: pointer;
    text-align: left;
    background: var(--grey);
}

/* Dropdown menu (hidden by default) */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* below the button */
    left: 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    padding: 8px;
    z-index: 1;
}

/* Show menu when active */
.dropdown.show .dropdown-menu {
    display: flex;
    flex-direction: column;
    background: var(--ultra-light-grey);
}

/* Checkbox labels for better spacing */
.dropdown-items {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 8px;
    display: flex;
}

.dropdown-items label {
    flex: 1 1 auto;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.dropdown-items input {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.dropdown-items:last-child {
    border-bottom: none;
}

.dropdown-items label:last-child {
    margin-bottom: 0;
    border-bottom: none;
}


/*IMG EVENT PLACE*/
.piscine {
    background: url("../img/piscine.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3);
}

.spa {
 background: url("../img/spa.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3);

}

.salle_de_reunion {
    background: url("../img/salle_de_reunion.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3)
}

.tennis {
    background: url("../img/tennis.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3);
}

.placard_a_balais {
    background: url("../img/placard_a_balais.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3);
}

.salle_sur_demande {
    background: url("../img/salle_sur_demande.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3);
}


/* ROOM DETAIL*/
.form-select-bonus-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    align-content: center;
}

.input-add-bonus {
}

.input-add-bonus label {
    display: flex;
    justify-content: center;
    align-self: center;
    border: 2px solid var(--secondary-bg-color);
    color: var(--secondary-bg-color);
    border-radius: 12px;
    padding: 4px 8px;
    vertical-align: center;
}

.input-add-bonus label:hover {
    background: var(--secondary-bg-color);
    color: var(--dark-grey);
    cursor: pointer;
}

.input-add-bonus label:has(input:checked) {
    background: var(--secondary-bg-color); /* Selected background */
    color: var(--dark-grey);
}

.input-add-bonus input {
    display: none;
}


/*ALERT MESSAGE STYLE*/
.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    font-weight: 600;
}
.alert.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.landing {
    background: url("../img/landing.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.4) contrast(1.1) grayscale(0.2);
}

/*.landing > div {
    background: red;
}*/

.landing ~ .login-content {
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2pt;
    justify-content: center;
}

.login-content {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.create_account ~ .login-content {
    justify-content: flex-start;
}

.create_account ~ .login-content form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.manager_login {
    background: var(--purple);
}

.manager_content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manager_content form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.create_account ~ .login-content form div {
    display: flex;
    justify-content: stretch;
}

.create_account ~ .login-content form div input {
    width: 100%;
    align-self: stretch;
    border-radius: 16px;
    padding: 4px 8px;
    background: rgba(255,255,255,0.4);
    color: rgba(255,255,255,0.8);
    border: none;
    font-size: 1rem;
    gap: 16px;
}

.login-form div input {
    width: 100%;
    align-self: stretch;
    border-radius: 16px;
    padding: 4px 8px;
    background: rgba(255,255,255,0.4);
    color: rgba(255,255,255,0.8);
    border: none;
    font-size: 1rem;
    gap: 16px;

}

create_account ~ .login-content form div input::placeholder {
    color: rgba(255,255,255,0.8);
    background: red;
}

.input-space {
    display: flex;
    gap: 16px;
}

.create_account {
    background: url("../img/create_account.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) contrast(1.1) grayscale(0.3);
}

.nav-list a {
    font-weight: 400!important;
    text-transform: none!important;
    letter-spacing: 0.1rem;
}

.event-cta {
    background: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px;
    text-align: center;
    align-items: center;
}


.event-cta h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.event-cta .btn-reverse {
    margin-top: 24px;
    font-size: 1.4rem;
}

.cart-room {
    display: flex;
    gap: 23px;
    border-bottom: 1px solid var(--ultra-light-grey);
    padding-bottom: 16px;
    margin-top: 16px;
    align-items: center;
}

.cart-content {
    display-flex;
    flex-direction: column;
    justify-content: center;
    background: none;
}

.cart-content h3 {
    margin-bottom: 16px;
}

.cart-content p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.cart-content .btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

.cart-img {
    min-height: 200px;
    min-width: 300px;
    border-radius: 20px;
}

.focus-cart {
    margin-top: 24px;
}

.focus-cart h3 {
    margin-top: 24px;
    margin-bottom: 24px;
}
.cart-link {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}