<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <h2>Gestion des clients</h2>
    <p th:text="${testAdminClient}">texte par défaut</p>
    
    <div class="container">
        <div class="display-table">
            <form th:action="@{/admin-client-filterform-temp}" th:object="${clientFilter}" method="get">
                <div class="filter-input">
                    <label for="lastname">Nom de famille:</label>
                    <input type="text" id="lastname"  name="lastname" th:field="*{lastname}" />
                </div>
                <div class="filter-input">
                    <label for="firstname">Prénom:</label>
                    <input type="text" id="firstname" name="firstname" th:field="*{firstname}" />
                </div>
                <div class="filter-input">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" th:field="*{email}" />
                </div>
                <div class="filter-input">
                </div>
                <div class="filter-input">
                    <label>Téléphone:</label>
                    <input type="text" id="phone" name="phone" th:field="*{phone}" />
                </div>
                <button type="submit">rechercher</button>
            </form>
            <h1>Clients</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Lastname</th>
                    <th>Firstname</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client : ${clients}" 
                    th:onclick="|window.location.href='@{/admin-client-focus(idClient=${client.idClient})}'|"
                    style="cursor: pointer;">
                    <td th:text="${client.idClient}"></td>
                    <td th:text="${client.lastname}"></td>
                    <td th:text="${client.firstname}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.phone}"></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="display-focus">
            <h2>Focus</h2>
            <form action="" method="post">
                <input type="text" name="name" id="focus-lastname" placeholder="nom de famille" th:value="${focusedClient?.lastname}">
                <input type="text" name="firstname" id="focus-firstname" placeholder="prénom" th:value="${focusedClient?.firstname}">
                <input type="text" name="email" id="focus-email" placeholder="email" th:value="${focusedClient?.email}">
                <input type="text" name="phone" id="focus-phone" placeholder="telephone" th:value="${focusedClient?.phone}">
            </form>
        </div>
    </div>


</body>
</html>
