<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titlePage}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b20e7d8d0.js" crossorigin="anonymous"></script>
</head>
<body>
    
<div th:replace="fragments/navbar :: navbar"></div>

<div class="page ">
    <div class="container">
        <h1>Votre panier</h1>

            <div th:if="${message != null}" class="alert success">
                <p th:text="${message}"></p>
            </div>

            <div th:if="${errorMessage != null}" class="alert error">
                <p th:text="${errorMessage}"></p>
            </div>

            <div th:if="${#lists.isEmpty(cartItems)}">
                <p>Votre panier est vide.</p>
                <a href="/room-reservation" class="btn bg-purple">Réserver une chambre</a>
            </div>

            <div th:if="${!#lists.isEmpty(cartItems)}">
                <div class="cart-items">
                    <div class="cart-room" th:each="room,  iterStat : ${cartItems}">
                        <h2>Chambre <span th:text="${room.roomNumber}"></span></h2>

                        <p>
                            <i class="fa-solid fa-calendar-days"></i>
                            Dates: [[${room.startDate}]] → [[${room.endDate}]]
                        </p>

                        <p>
                            <strong>Bonus supplémentaires :</strong>
                            <span th:if="${#lists.isEmpty(room.additionalBonuses)}">Aucun</span>
                            <span th:each="bonus, bonusStat : ${@displayText.capitalize(room.additionalBonuses)}">
                                [[${bonus}]]<span th:if="${!bonusStat.last}">, </span>
                            </span>
                        </p>
                        <form th:action="@{/cart}" method="post" style="display:inline;">
                            <input type="hidden" name="deleteIndex" th:value="${iterStat.index}" />
                            <button type="submit" class="btn">Annuler</button>
                        </form>
                        <p>Prix de la chambre : <span th:text="${room.getTotalPriceWithAdditional}"></span></p>

                    </div>
                    <h2>Prix total de toutes les chambres :</h2>
                        <p><span th:text="${totalCartPrice}"></span> €</p>
                    <a href="/room-reservation" class="btn bg-purple">Réserver une chambre</a>
                    <form th:action="@{/cart}" method="post" style="display:inline;">
                        <input type="hidden" name="resetCart" value="true"/>
                        <button type="submit" class="btn">Vider le panier</button>
                    </form>
                    <form th:action="@{/cart}" method="post" style="display:inline;">
                        <input type="hidden" name="confirmCart" value="true"/>
                        <button type="submit" class="btn">Confirmer</button>
                    </form>
                </div>

            </div>

            </div>
        </div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
