<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <title>Client List</title>-->
    <title th:text="${titlePage}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b20e7d8d0.js" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="page">
    <h1 th:text="${title}"></h1>
    <div class="container">

        <div class="display-table">
            <table>
                <thead>
                <tr>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Prix total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="res : ${reservations}">
                    <td th:text="${res.startDate}"></td>
                    <td th:text="${res.endDate}"></td>
                    <td th:text="${res.totalPrice}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="display-focus">
        </div>

    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
