<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <title>Client List</title>-->
    <title th:text="${titlePage}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b20e7d8d0.js" crossorigin="anonymous"></script>
    <script>
        function selectRow(id) {
            document.getElementById("focus-id").value = id;
            document.getElementById("focusForm").submit();
        }
    </script>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="page">
    <h1 th:text="${title}"></h1>
    <div class="container">

        <div class="display-table">
            <table>
                <thead>
                <tr>
                    <th th:each="col : ${columns}" th:text="${col}"></th>
                </tr>
                </thead>
                <tbody>
                <tbody>
                <tr th:each="res : ${reservations}"
                    th:onclick="|selectRow([[${res.id}]])|">
                    <td th:text="${#temporals.format(res.creationDate, 'dd/MM/yy')}"></td>
                    <td th:text="${#temporals.format(res.startDate, 'dd/MM/yy')}"></td>
                    <td th:text="${#temporals.format(res.endDate, 'dd/MM/yy')}"></td>
                    <td th:text="${res.numberOfRooms}"></td>
                    <td th:text="${res.numberOfNights}"></td>
<!--                    <td th:text="${res.paymentDate != null} ? ${#temporals.format(res.paymentDate, 'dd/MM/yy HH:mm')} : ''"></td>-->
                    <td th:text="${res.totalPrice}"></td>
                </tr>
                </tbody>
            </table>
            <form id="focusForm" th:action="@{/history}" method="post">
                <input type="hidden" id="focus-id" name="id" />
            </form>
        </div>

        <div class="display-focus" th:if="${focusedReservation != null}">
            <h2>Détails de la réservation</h2>
            <p>Création: <span th:text="${#temporals.format(focusedReservation.creationDate, 'dd/MM/yy')}"></span></p>
            <p>Début: <span th:text="${#temporals.format(focusedReservation.startDate, 'dd/MM/yy')}"></span></p>
            <p>Fin: <span th:text="${#temporals.format(focusedReservation.endDate, 'dd/MM/yy')}"></span></p>
            <p>Total: <span th:text="${focusedReservation.totalPrice}"></span> €</p>

<!--            <h3>Chambres</h3>-->
            <ul>
                <li th:each="room : ${focusedReservation.rooms}">
                    Chambre <span th:text="${room.roomNumber}"></span> - <span th:text="${room.description}"></span>
                    <br/>
                    Bonus par défaut: <span th:text="${room.bonuses}"></span>
                    <br/>
                    Bonus supplémentaires: <span th:text="${room.additionalBonuses}"></span>
                    <br/>
                    Total chambre: <span th:text="${room.totalPriceWithAdditional}"></span> €
                </li>
            </ul>
        </div>

    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
