<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
<h2>J'essaie d'afficher la liste des clients hehe</h2>
<p th:text="${testBlabla}">texte par défaut</p>
<p>OOOOOOOH</p>
<div class="container">
    <div class="display-table">
        <form th:action="@{/clients}" th:object="${filterField}" method="post">
            <div class="filter-input">
                <label for="lastname">Nom de famille:</label>
                <input type="text" id="lastname"  name="lastname" th:field="*{lastname}" />
            </div>
            <div class="filter-input">
                <label for="firstname">Prénom:</label>
                <input type="text" id="firstname" name="firstname" th:field="*{firstname}" />
            </div>
            <div class="filter-input">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" th:field="*{email}" />
            </div>
            <div class="filter-input">
            </div>
            <div class="filter-input">
                <label>Téléphone:</label>
                <input type="text" id="phone" name="phone" th:field="*{phone}" />
            </div>
            <button type="submit">rechercher</button>
        </form>
        <h1 th:text="${title}"></h1>
        <table>
            <thead>
            <tr>
                <th th:each="col : ${columns}" th:text="${col}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${rows}">
                <td th:text="${row.id}"></td>
                <td th:text="${row.lastname}"></td>
                <td th:text="${row.firstname}"></td>
                <td th:text="${row.email}"></td>
                <td th:switch="${entityType}">
                    <span th:case="'client'" th:text="${row.phone}"></span>
                    <span th:case="'employee'" th:text="${row.job}"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/employees}">>Employés</a>
<!--        <a th:href="@{/reservations}">Réservations</a>-->
<!--        *<a th:href="@{/event}">Evénements</a>-->
    </div>
    <div class="display-focus">
        <h2>Focus</h2>
        <form action="" method="post">
            <input type="text" name="name" id="focus-lastname" placeholder="nom de famille">
            <input type="text" name="firstname" id="focus-firstname" placeholder="prénom">
            <input type="text" name="email" id="focus-email" placeholder="email">
            <input type="text" name="phone" id="focus-phone" placeholder="telephone">
        </form>
    </div>
</div>
</body>
</html>
