<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <title>Client List</title>-->
    <title th:text="${titlePage}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script>
        function selectRow(id) {
            document.getElementById("focus-id").value = id;
            document.getElementById("focusForm").submit();
        }
    </script>
</head>
<body>
<h2>J'essaie d'afficher la liste des clients hehe</h2>
<p th:text="${testBlabla}">texte par défaut</p>
<p>OOOOOOOH</p>
<div class="container">
    <div class="display-table">
        <form th:action="${entityType == 'client' ? '/clients' : '/employees'}" th:object="${filterField}" method="post">
            <div class="filter-input">
                <label for="lastname">Nom de famille:</label>
                <input type="text" id="lastname"  name="lastname" th:field="*{lastname}" />
            </div>
            <div class="filter-input">
                <label for="firstname">Prénom:</label>
                <input type="text" id="firstname" name="firstname" th:field="*{firstname}" />
            </div>
            <div class="filter-input">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" th:field="*{email}" />
            </div>
            <div class="filter-input">
            </div>
            <div class="filter-input">
                <label>Téléphone:</label>
                <input type="text" id="phone" name="phone" th:field="*{phone}" />
            </div>
            <button type="submit">rechercher</button>
        </form>
        <h1 th:text="${title}"></h1>
        <table>
            <thead>
            <tr>
                <th th:each="col : ${columns}" th:text="${col}"></th>
            </tr>
            </thead>
            <tbody> 
            <tr th:each="row : ${rows}"
                 th:onclick="|selectRow([[${row.id}]])|">
                <td th:text="${row.id}"></td>
                <td th:text="${row.lastname}"></td>
                <td th:text="${row.firstname}"></td>
                <td th:text="${row.email}"></td>
                <td th:switch="${entityType}">
                    <span th:case="'client'" th:text="${row.phone}"></span>
                    <span th:case="'employee'" th:text="${row.job}"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="my20" th:switch="${entityType}">
            <a class="btn" th:case="'client'" th:href="@{/employees}">Employés</a>
            <a class="btn" th:case="'employee'" th:href="@{/clients}">Clients</a>
        </div>
    </div>
    <div class="display-focus">
    <h2>Focus</h2>
        <form th:action="${entityType == 'client' ? '/clients' : '/employees'}" method="post">
            <input type="text" name="lastname" id="focus-lastname"
                placeholder="nom de famille"
                th:value="${focusedClient != null ? focusedClient.lastname : ''}">
            <input type="text" name="firstname" id="focus-firstname"
                placeholder="prénom"
                th:value="${focusedClient != null ? focusedClient.firstname : ''}">
            <input type="text" name="email" id="focus-email"
                placeholder="email"
                th:value="${focusedClient != null ? focusedClient.email : ''}">
            
                <select name="job" id="focus-job" th:if="${entityType == 'employee'}">
                    <option th:each="job : ${jobEnumValues}" th:value="${job}" th:text="${job}"
                        th:selected="${focusedClient != null and focusedClient.job != null and focusedClient.job.name() == job}"></option>
                </select>
                <input type="text" name="phone" id="focus-phone"
                    placeholder="telephone"
                    th:value="${focusedClient != null ? focusedClient.phone : ''}" th:if="${entityType == 'client'}">
        </form>
    </div>
</div>
<form id="focusForm" th:action="${entityType == 'client' ? '/clients' : '/employees'}" method="post">
    <input type="hidden" name="id" id="focus-id">
    <input type="hidden" name="lastname" th:value="${filterField.lastname}">
    <input type="hidden" name="firstname" th:value="${filterField.firstname}">
    <input type="hidden" name="email" th:value="${filterField.email}">

    <input type="hidden" name="job" th:value="${filterField.job}" th:if="${entityType == 'employee'}">
    <input type="hidden" name="phone" th:value="${filterField.phone}" th:if="${entityType == 'client'}">
    
</form>
</body>
</html>
